#main_title{
    text-align: center;
    display: block;
}
#list_formulas{
    border: solid black 1px;
    text-align: left;
    width:fit-content;
    margin: auto;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
}
